.popup__container{
    position: relative;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 540px){
    .popup__container{
        max-width: 282px;
    }
}