.profile__edit{
    max-width: 24px;
    height: 24px;
    width: 100%;
    border: 0;
    border-radius: 0;
    background:url(../../../images/Edit\ Button.png);
    padding: 0;
    margin: 0;
    transition: opacity .2s;
}

.profile__edit:hover{
    opacity: .6;
}

@media screen and (max-width: 370px){
    .profile__edit{
        width: 18px;
        height: 18px;
        background: url(../../../images/Edit\ Button\ 320px.png);
    }
}
