.profile__add{
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add\ Button.png);
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .2s;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.profile__add:hover{
    opacity: .6;
  }

@media screen and (max-width: 370px){
    .profile__add{
        background-image: url(../../../images/Add\ Button\ 320px.png);
        width: 282px;
    }
}