@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info-name/profile__info-name.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/gallery/__description/gallery__description.css);
@import url(../blocks/gallery/__caption/gallery__caption.css);
@import url(../blocks/gallery/__like/gallery__like.css);
@import url(../blocks/gallery/__like-active/gallery__like-active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__close/popup__close.css);