.popup__title{
    margin: 34px 64px 24px 36px;
    padding: 0;
    max-width: 330px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.20;
    color: #000;
    text-align: left;
}

@media screen and (max-width:370px){
    .popup__title{
        margin: 25px 22px 45px 22px;
        font-size: 18px;
        line-height: 1.2;
    }
}